<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>119866808766-gaej75d6g2t1idc8msj0q4skoctaau2j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.119866808766-gaej75d6g2t1idc8msj0q4skoctaau2j</string>
	<key>API_KEY</key>
	<string>AIzaSyAEe1w5ZT2l-fmw3l7QjZcfipvpM0P0gTY</string>
	<key>GCM_SENDER_ID</key>
	<string>119866808766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.riohs.sewskillz</string>
	<key>PROJECT_ID</key>
	<string>riohs-7baf9</string>
	<key>STORAGE_BUCKET</key>
	<string>riohs-7baf9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119866808766:ios:35a29b989a30b388a9c1ef</string>
	<key>DATABASE_URL</key>
	<string>https://riohs-7baf9-default-rtdb.firebaseio.com</string>
</dict>
</plist>