@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* globals.css */
body {
  visibility: hidden; /* Hide content initially */
}

body.styles-loaded {
  visibility: visible; /* Show content once styles are applied */
}

